* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

:root {
    --blue: #6b73ff;
    --white: #ffffff;
    --black: #000000;
    --dark: #0c0c1d;
}

html {
    font-size: 80%;
    background: #f8f9fb;
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

/* Header-Styling Starts Here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 0 5rem;
    background-color: #070714;
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    z-index: 900; /* Ensure it stays above other content */
}

header .Header-Left {
    display: flex;
    align-items: center;
}

header .Header-Left .Company-Logo {
    height: 74px;
    display: flex;
    align-items: center;
}

header .Header-Left .Company-Logo img {
    height: 100%;
}

header .Header-Left nav .close {
    display: none;
}

header .Header-Left nav .Menu {
    margin-top: 20px;
    margin-left: 4rem;
    font-size: 1.4rem;
    font-weight:700;
}
.l1{
    margin-left: 463px;
}
.l2{
    margin-left: 40px;
}

header .Header-Left nav .Menu ul {
    display: flex;
    gap: 3.4rem;
}

header .Header-Left nav .Menu li {
    list-style: none;
}


header .Header-Left nav a {
    color: var(--white);
}

header .Header-Left nav a:hover {
    color: rgb(85, 85, 85)
}

header .Header-Right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

header .Header-Right a {
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
}

header .Header-Right a {
    background: #1f1e1e;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    color: var(--white);
    border-radius: .6rem;
}

header .Header-Right a:hover {
    background: rgba(85, 85, 85);
    color: var(--white);
}

header .Header-Right .menu-bar i {
    font-size: 2rem;
    display: none;
}

/* Header-Styling Ends Here */





/* Home-Page Starts here */

#Home-Page {
    width: 100vw;
    height: 100vh;
}

#Home-Page .Home-image {
    background: url("../Images/istockphoto-530757309-170667a.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#Home-Page .Home-image ::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.138); 
    z-index: -1; 
}

#Home-Page .Home-image .Home-text {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Home-Page .Home-image .Home-text h1 {
    color: whitesmoke;
    font-size: 7rem;
    margin-left: 35vw;
    margin-right: 30vw;
}

#Home-Page .Home-image .Home-text h2 {
    color: orange;
    font-size: 4.5rem;
    margin-left: 12vw;
    margin-right: 10vw;
}

#Home-Page .Home-image .Home-text #Get-Started {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: orange;
    width: 30rem;
    height: 5rem;
    font-size: 3.5rem;
}

#Home-Page .Home-image .Home-text #Get-Started a {
    display: flex;
    justify-content: center;
    color: white;
}

#Get-Started{
    margin-left: 33.3vw;
    margin-right: 30vw;
}

#Home-Page .Home-image .Home-text p {
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-left: 23vw;
}

/* Home-Page Ends here */




/* Description-Page Starts here */

#con-section {
    padding: 12rem;
    margin-top: 10rem;
    background: var(--white);
}
.contact-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}


.contact-us .text, .contact-us .box {
    flex: 1 0 260px;
}

.contact-us .text h2 {
    font-size: 4.8rem;
}

.contact-us .text P {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

.contact-us .text a {
    font-size: 1.3rem;
    color: var(--white);
    padding: 1rem 2rem;
    background: var(--black);
    border-radius: .4rem;
    margin-top: .5rem;
    display: inline-block;
}

.contact-us .text a:hover {
    transform: translate(0, -.5rem);
    box-shadow: 1px 1px 13px #0000006f;
}

.contact-us .box {
    height: 70vh;
    padding-left: 10rem;
    position: relative;
}

.contact-us .box .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 1px 21px 30px -1rem rgba(3, 66, 148, 0.37);
}

.contact-us .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-us .box .s-box {
    position: absolute;
    top: 60%;
    left: 6%;
    background: var(--white);
    padding: 2rem;
    width: 20em;
    border-radius: 1rem;
    box-shadow: 1px 1px 45px #0000002d;
}

.contact-us .box .s-box h3 {
    font-size: 3rem;
    color: rgb(214, 112, 34);
}

.contact-us .box .s-box p {
    font-size: 1.4rem;
    margin-top: .8rem;
}

.contact-us .box .s-box:hover {
    transform: translate(0, -1rem);
}

/* Description Ends here */




/* Service Starts here */

#convenience {
    width: 100%;
    height: 100vh;
    background: var(--dark);
    padding: 0 8rem;
}

#convenience .provided {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10rem;
    padding: 4rem 0;
    padding-top: 7rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #bdbcbc;
}

#convenience .provided .box {
    flex: 1 0 260px;
    display: flex;
    gap: 1.5rem;
}

#convenience .provided .box h2 {
    font-size: 4rem;
    color: var(--white);
}

#convenience .provided .box p {
    font-size: 1.5rem;
    color: #bdbcbc;
    line-height: 1.4;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 4rem 0;
    margin-top: 2rem;
}

#convenience .content .box {
    flex: 1 0 240px;
}

#convenience .content .box h2 {
    font-size: 3.4rem;
    color: var(--white);
}

#convenience .content .box p {
    font-size: 1.3rem;
    color: #bdbcbc;
    line-height: 1.9;
}

#convenience .video {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: red;
    border-radius: 1.5rem;
}

#convenience .video video {
    width: 100%;
    height: 170%;
    margin-top: -15rem;
    object-position: center;
    object-fit: cover;
}

/* Service Page Ends here */




/* Popular-Property Starts here */

#property {
    width: 100%;
    padding: 10rem 8rem;
    margin-top: 15rem;
}

#property .prop-h {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}

#property .prop-h h2 {
    font-size: 4rem;
    text-align: center;
}

#property .prop-h p {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 0;
}


#property .de-box {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}


#property .de-box .box {
    width: 100%;
    height: 42rem;
    background: var(--white);
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}

#property .de-box .box:hover{
    transform: scaleY(1.1);
}

#property .de-box .box .image {
    width: 100%;
    height: 26rem;
    overflow: hidden;
}

#property .de-box .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#property .de-box .box .price-name {
    padding: 2rem;
    border-bottom: 1px solid #b0b0b04d;
}

#property .de-box .box .price-name h4 {
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: .8rem;
}

#property .de-box .box .price-name p {
    font-size: 1.4rem;
    font-weight: 500;
}

#property .de-box .box .location-detail {
    padding: 1rem 2rem;
}

#property .de-box .box .location-detail p {
    font-size: 1.3rem;
    font-weight: 500;
}

#property .de-box .box .location-detail p img {
    width: 20px;
    vertical-align: middle;
}

#property .de-box .box .location-detail .detail {
    width: 100%;
}

#property .de-box .box .location-detail .detail ul {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
}

#property .de-box .box .location-detail .detail ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

#property .de-box .box .location-detail .detail ul li img {
    width: 18px;
    margin-right: 1rem;
}

#property .explore {
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

#property .explore a {
    color: var(--white);
    background: var(--black);
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: .8rem;
}

#property .explore a:hover {
    transform: translate(0, -.7rem);
    box-shadow: 1px 5px 15px #00000049;
}

/* Popular-Property Starts here */




/* Testimonial-Page Starts here */

#Testimonials {
    background: linear-gradient(185deg, #0b073c, #180a06);
}

.Testimonial-silder-area {
    padding: 10% 0;
}

#Testimonials .Testimonial-Box .Testimonial-Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding-top: 14.6rem;
    font-size: 4.5rem;
    color: var(--white);
}

.box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: var(--white);
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 40px 0;
    border-radius: 12px;
}

.box-area h5 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(4, 4, 246);
    margin-top: 34px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-area span {
    color: #000004;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 500;
}

.box-area .content {
    color: #131313;
    font-size:large;
    font-weight: 500;
}

.box-area .img-area {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.Social-Media {
    margin-top: 30px;
}

.Social-Media i {
    margin: 0 10px;
    color: rgb(4, 4, 246);
    font-size: 18px;
}
/* Testimonial-Page Ends here */



/* Footer Starts here */

#footer {
    width: 100%;
    background: var(--dark);
    padding: 3rem 8rem;
    padding-bottom: 0;
}

#footer .footer-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;
    gap: 8rem;
    border-bottom: 1px solid  #bdbcbc6e;
    padding: 5rem 0rem;
}

#footer .footer-box .box {
    width: 100%;
}

#footer .footer-box .box .logo {
    width: 20em;
    overflow: hidden;
}

#footer .footer-box .box .logo img {
    width: 100%;
}

#footer .footer-box .box p {
    width: 100%;
    max-width: 17em;
    color: #bdbcbc;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 2rem 0;
}

#footer .footer-box .box .subscribe {
    width: 100%;
}

#footer .footer-box .box .subscribe form {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #bdbcbc6e;
    overflow: hidden;
    border-radius: .5rem;
    padding: .3rem;
}

#footer .footer-box .box .subscribe form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-transform: none;
    color: var(--white);
    padding: 0 .8rem;
    font-size: 1.2rem;
}

#footer .footer-box .box .subscribe form button {
    background: var(--blue);
    border: none;
    outline: none;
    color: var(--white);
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
}

#footer .footer-box .box .subscribe form button:hover {
    background: #a7abff;
}


#footer .footer-box .box h3 {
    font-size: 1.8rem;
    color:  var(--white);
    margin-bottom: 3rem;
}

#footer .footer-box .box ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    line-height: 1.4;
    color: #bdbcbc;
}

#footer .footer-box .box ul li a {
    color: #bdbcbc;
}

#footer .footer-box .box ul li a:hover {
    text-decoration: underline;
}

#footer .copyright {
    padding: 1.5rem;
    font-size: 1.3rem;
    color:aquamarine;
    text-align: center;
}

/* Footer Ends here */