.Heading {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 3.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    color: rgb(210, 157, 23);
}

.slider-container {
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(221, 174, 87);
    border-radius: 8px;
    width: 70%;
    margin: auto;
    z-index: 100;
}
.custom-prev, .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2d2c2c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}
.custom-prev {
    left: -50px;
}
.custom-next {
    right: -50px;
}
.owl-carousel .item {
    text-align: center;
    width: 95%;
    height: 40rem;
    padding: 20px;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}

.owl-carousel .item img {
    width: 100%;
    height: 600px; 
}