@import url('https://fonts.googleapis.com/css2?familly=Poopins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.contact{
    color: azure;
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://media.timeout.com/images/105096685/750/422/image.jpg);
    background-size: cover;

}

.contact::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(28, 28, 28, 0.7) ;
}

.contact .content{
    max-width: 800px;
    text-align: center;
    z-index: 4;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.contact .content p{
    padding-top: 1em;
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 4;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;

    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(238, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: yellow;

}
.contactform{
    width: 100%;
    color: black;
    padding: 40px;
    background: white; 
}
.contactform h2{
    font-size: 30ox;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,.contactform .inputbox textarea{
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 15px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus~ span,
.contactform .inputbox input:valid~ span,
.contactform .inputbox input textarea:focus~ span,
.contactform .inputbox textarea:valid~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background:cornflowerblue;
    color: wheat;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width:999px){
    .contact{
        padding: 60px;
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 60px;
    } 
    .container .contactinfo,.contactform{
        width: 80;
    }
}