* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('https://lirp.cdn-website.com/8dd11de1/dms3rep/multi/opt/6-beded+room+1_compressed-1920w.jpg');
    background-size: cover;
    background-position: center;
}
.Box::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.59);
}
.container {
    max-width:900px;
    width: 100%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 25px 30px;
    border-radius: 15px;
    z-index: 4;
}
.container img{
    height: 70px;
    width: 110px;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.container .Title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.container form .detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .detail .inputs{
    margin: 20px 0 12px 0;
    width: calc(100%/2 - 20px);
}
.detail .inputs .details{
    display: block;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 5px;
}
.detail .inputs input{  
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 16px;
    font-size: 16px;
    border-bottom-width: 2px;

    transition: all 0.3s ease;
}
.details .input input:focus,
details .input input:valid{
    border-color: #9b59b6;
}

.header {
    display: flex;
    justify-content: center;
}

span {
    color: #c3c3c3;
}

.ages{
    display: block;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 5px;
}
#age,#gen{
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    border-radius: 3px;

    
}
#gen{
    height: 27px;
}
.gender {
    display: block;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 5px;
}
.button {
    display: flex;
    margin-left: 40%;
    border: 2px solid gray;
    width: 25%;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(27, 27, 174);
    
}
.button a{
    text-decoration: none;
}
.button h2{
    font-weight: 400;
    color: #fff;
}