body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  color: #180843;
}

/* Header */
.header {
  background-image: linear-gradient(to right, #0b233d, #021c5e);
  color: #fff;
}

/* Listings */
.listing {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.listing:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* Map Modal */
.modal-header {
  background-color: #021a33;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
}